.custom-btn{

  padding:14px 28px;

  border:none;

  border-radius:14px;

  background:linear-gradient(
    135deg,
    #3b82f6,
    #7c3aed
  );

  color:white;

  font-size:15px;

  font-weight:600;

  cursor:pointer;

  transition:0.3s;

  box-shadow:
  0 0 20px rgba(59,130,246,0.35);

}

.custom-btn:hover{

  transform:translateY(-3px);

  box-shadow:
  0 0 35px rgba(59,130,246,0.5);

}