.loader-wrapper{

  height:100vh;

  display:flex;

  flex-direction:column;

  justify-content:center;

  align-items:center;

  background:#020617;

}

.loader{

  width:80px;

  height:80px;

  border:6px solid rgba(255,255,255,.1);

  border-top:6px solid #3b82f6;

  border-radius:50%;

  animation:spin 1s linear infinite;

}

.loader-text{

  margin-top:20px;

  color:white;

  font-size:18px;

}

@keyframes spin{

  from{
    transform:rotate(0deg);
  }

  to{
    transform:rotate(360deg);
  }

}