.input{

  width:100%;

  padding:16px 20px;

  border-radius:14px;

  border:1px solid rgba(255,255,255,.08);

  background:rgba(255,255,255,.04);

  backdrop-filter:blur(10px);

  color:white;

  font-size:15px;

  outline:none;

  transition:.3s;

}

.input::placeholder{

  color:#94a3b8;

}

.input:focus{

  border-color:#3b82f6;

  box-shadow:
  0 0 20px rgba(59,130,246,.25);

}